.card .card-action a{
    color: hotpink!important;
}

.anime-search {
    background-color: white;
    border-radius: 30px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.nav-wrapper .input-field input[type=search]{
    border-radius: 30px;
    margin-top: 2em;
}

.btn {
    background-color:#FFCD71;
}

.brand-logo img {
    width: 8em;
    position: absolute;
    top: -1.05em;
    left: 2em;
}

.sideNav a{
    font-size:1.5em;
}